---
# .pre-commit-config.yml
# Pre-commit hook tasks.
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/crate-ci/typos
    rev: "v1.40.0"
    hooks:
      - id: typos
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: "0.9.17"
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.9"
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.0"
    hooks:
      - id: mypy
        additional_dependencies:
          - OdooRPC>=0.9.0
          - packaging
          - typing-extensions>=4.15.0
